 body {
  background-color: rgb(0, 126, 151);
  color: wheat;
  line-break: auto;
  }
    
.archivo-font {
  font-family: 'Archivo', sans-serif;
  font-size: 150px;
  line-height: 180px;
  text-align: center;
}

.cormorant-font {
  font-family: 'Cormorant', serif;
  font-size: 75px;
  line-height: 20px;
  }

a {
   color: rgb(255, 255, 255);
  display: inline;
  }

.info li{ 
  padding: 10px;
  display: inline;
  text-align: center;
  }

h2 {
  font-size: 30px;
  text-align: left;
  }

h3 {
  text-align: left;
}

li {
  font-size: 30px;
  text-align: left;
  }

  
.container-header {
  width: 700px;
  height: 550px;
  margin-left: 185px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-flow: column wrap ;
  justify-content:  center;
  align-items: center;
  align-content: center;
  } 

.container-personal {
  width: 1100px;
  height: 900px;
  margin: 80px auto;
  border-radius: 8px;
  display: flex;
  flex-flow: column wrap ;
  justify-content:  space-evenly;
  align-items: center;
  align-content: center;
  }  


p {
  justify-content: left;
  text-align: left;
}


img {
  line-height: -5;
  width: 400px;
  border-color:  rgb(186, 0, 37);  
  border-radius: 300px;
  border-style: groove;
  border-width: 30px ;
  display:flex;
  flex-flow: column wrap ;
  justify-content:  space-evenly;
  align-items: center;
  align-content: center;
}
